@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">Kalite ve Güvenle hizmetinizdeyiz</h5>
        <p class="card-text">Bizleri tercih ediniz.</p>
        <a href="#" class="btn btn-primary">Şevko Beyaz Eşya</a>
    </div>



    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">Kaç Yılında Kuruldu?</h5>
        <p class="card-text">2005 Yılında Kuruldu.</p>
        <a href="#" class="btn btn-primary">Şevko Beyaz Eşya</a>
    </div>


    <div class="card-header">
       
    </div>
    <div class="card-body">
        <h5 class="card-title">Önceliğimiz insanları mağazamıza çekebilmek.</h5>
        <p class="card-text">Güveniliriz.</p>
        <a href="#" class="btn btn-primary">Şevko Beyaz Eşya</a>
    </div>
</div>